@tailwind base;
@tailwind components;
@tailwind utilities;


.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #d1d5db; /* серый */
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #facc15; /* жёлтый */
}
.photo-size{
    width: 300px;
}
